@use "./breakpoints" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --text-base: 16px;
    --text-scale: 1.125;

    @include min-width(mobile-l){
        --text-scale: 1.25;
    }
}

@function fontSize($size) {
    $scale: 1;

    @for $i from 0 to $size {
        $scale: calc($scale * var(--text-scale));
    }

    @return calc(var(--text-base) * $scale);
}

html,
body {
    font-family: "Inter", sans-serif;
    font-size: fontSize(0);
    font-weight: 400;
    color: #18141a;
}

.title,
h1 {
    font: inherit;
    font-weight: 700;
    font-size: fontSize(5);
}

.subtitle {
    font: inherit;
    font-size: fontSize(2);
    font-weight: 400;
}

.paragraph,
p {
    font: inherit;
    font-size: fontSize(1);
}

.small,
small {
    font: inherit;
    font-weight: 700;
    font-size: 0.889rem;
}
