.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    overflow: hidden;

    * {
        z-index: 1;
    }

    &::after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--dark);
        opacity: 0;
        transition: 200ms;
    }

    &:hover::after {
        opacity: 0.1;
    }

    &.primary {
        background: var(--primary);
    }

    &.secondary {
        background-color: var(--secondary-light-1);
        color: var(--secondary);
    }
}
